#!/bin/sh

SCRIPTPATH="$(cd $(dirname $([ -L ${BASH_SOURCE[0]} ] && readlink ${BASH_SOURCE[0]} || echo ${BASH_SOURCE[0]})) && pwd -P)"

export SPARK_MASTER=spark://sparkmaster:7077
export CASSANDRA_HOST=mycassandra
export ELASTICSEARCH_HOST=myelasticsearch
export KAFKA_HOST=mykakfa
export POSTGRES_HOST=mypostgres
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=secret
export POSTGRES_DB=myapp
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export S3_BUCKET=
export DATA_ROOT=$SCRIPTPATH/data

mkdir -p $DATA_ROOT