#!/bin/sh

export SPARK_MASTER=spark://sparkmaster:7077
export CASSANDRA_HOST=
export CASSANDRA_USER=
export CASSANDRA_PASSWORD=
export PGHOST=
export PGUSER=
export PGPASSWORD=
export PGDATABASE=
export DATA_ROOT=/tmp/data
