<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %highlight(%-5level)
                     %gray(%logger{90}) %X{X-ApplicationId} %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.apache.commons" level="WARN"/>
    <logger name="org.apache.hadoop" level="WARN"/>
    <logger name="org.apache.spark.deploy.SparkHadoopUtil" level="INFO"/>
    <logger name="org.apache.spark.memory" level="WARN" />
    <logger name="org.apache.spark.scheduler" level="WARN"/>
    <logger name="org.apache.spark.storage" level="WARN"/>
    <logger name="org.apache.spark.ui" level="WARN" />
    <logger name="org.apache.spark.util" level="WARN"/>
    <logger name="org.apache.spark" level="WARN"/>

</configuration>